<head>
  <link rel="stylesheet" href="Content/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="Content/styles.css" type="text/css">
  <title>Rock, Paper, Scissors!</title>
</head>
<body>
  <form class="form-group" action="/shoot" method="post">
<!-- Input 1 Start -->
    <div class="input1">
      <div class="radio">
        <label>
          <input type="radio" name="input1" value="rock" checked>
          Rock
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="input1" value="paper">
          Paper
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="input1" value="scissors">
          Scissors
        </label>
      </div>
    </div>
<!-- Input2 Start -->
    <div class="input2">
      <div class="radio">
        <label>
          <input type="radio" name="input2" value="rock" checked>
          Rock
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="input2" value="paper">
          Paper
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="input2" value="scissors">
          Scissors
        </label>
      </div>
    </div>
    <button type="submit" name="button" class="btn btn-success">Shoot!</button>
  </form>
  <div class="draw">
    <h2>@Model</h2>
  </div>
</body>
