<head>
  <link rel="stylesheet" href="Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="Content/css/styles.css" type="text/css">
  <title>Rock, Paper, Scissors!</title>
</head>
<body>
  <a href="/two-players">Want to play with 2 players?</a>
  <a href="/vs-computer">Want to play against the computer?</a>
</body>
